*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}

div.developer{
  font-size: 200%;
  margin-bottom: .2in;
}

div.abc{
  font-size: 35pt;
  float: left;
  margin: 3px;
  border: solid 1px black;
  height: 1in;
  width: 1in;
  text-align: center;
  padding-top: 30px;
}

div.highLight{
  background-color: antiquewhite;
  border: dashed 1px black;
}

#screen-display{
  /* background-color: pink; */
  border: solid 1px black;
  height: 10in;
  width: 100%;
}